<a href="https://colab.research.google.com/github/kapilsingh9069/CabPricePrediction/blob/main/cab_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import os
import pandas as pd
import numpy as np
from fancyimpute import KNN

In [6]:
train = pd.read_csv("https://raw.githubusercontent.com/Priyankk18k/CabPrediction/master/train_cab.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Priyankk18k/CabPrediction/master/test.csv")
train.head()

  fare_amount          pickup_datetime  ...  dropoff_latitude  passenger_count
0         4.5  2009-06-15 17:26:21 UTC  ...         40.712278              1.0
1        16.9  2010-01-05 16:52:16 UTC  ...         40.782004              1.0
2         5.7  2011-08-18 00:35:00 UTC  ...         40.750562              2.0
3         7.7  2012-04-21 04:30:42 UTC  ...         40.758092              1.0
4         5.3  2010-03-09 07:51:00 UTC  ...         40.783762              1.0

[5 rows x 7 columns]

In [7]:
test.head()

           pickup_datetime  pickup_longitude  ...  dropoff_latitude  passenger_count
0  2015-01-27 13:08:24 UTC        -73.973320  ...         40.743835                1
1  2015-01-27 13:08:24 UTC        -73.986862  ...         40.739201                1
2  2011-10-08 11:53:44 UTC        -73.982524  ...         40.746139                1
3  2012-12-01 21:12:12 UTC        -73.981160  ...         40.751635                1
4  2012-12-01 21:12:12 UTC        -73.966046  ...         40.744427                1

[5 rows x 6 columns]

In [9]:
train.describe(include='all')

       fare_amount          pickup_datetime  ...  dropoff_latitude  passenger_count
count        16043                    16067  ...      16067.000000     16012.000000
unique         468                    16021  ...               NaN              NaN
top            6.5  2010-10-07 20:15:00 UTC  ...               NaN              NaN
freq           759                        2  ...               NaN              NaN
mean           NaN                      NaN  ...         39.897906         2.625070
std            NaN                      NaN  ...          6.187087        60.844122
min            NaN                      NaN  ...        -74.006377         0.000000
25%            NaN                      NaN  ...         40.734651         1.000000
50%            NaN                      NaN  ...         40.753567         1.000000
75%            NaN                      NaN  ...         40.768013         2.000000
max            NaN                      NaN  ...         41.366138      5345.000000

[11 rows x 7 columns]

In [13]:
print(train.dtypes)

fare_amount           object
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count      float64
dtype: object

In [14]:
print(test.dtypes)

pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [15]:
train.shape

(16067, 7)

In [16]:
test.shape

(9914, 6)

In [18]:
train['fare_amount'] = pd.to_numeric(train['fare_amount'], errors='coerce')
train['pickup_datetime'] = pd.to_datetime(train['pickup_datetime'], errors='coerce')

# ***DATA CLEANING***